<style>
    .category-box {
        list-style-type: none;
        margin: 0 auto;
        padding: 20px 10px 10px 10px;; /*  top  right  bottom  left   */
        width: 300px;
        background-color: slategrey;
        border: 1px solid black;
         /*background-color: lemonchiffon;*/
        border-radius: 5px; /* rounds the corners of the border */
        box-shadow: 2px 2px 5px black;

    }

    .category-box label {
        display: block;
        width: inherit; /* ???? setting to 100% was doing odd things so */
        text-align: center;
        background: #d0d0df;
        /*background: lightblue;*/
        font-size: 24px
    }

    .category-box input[type="radio"] {
        position: absolute;
        transform: translateY(50%);
        opacity: 0.01;
        z-index: -1;
    }

    .category-box input[type="radio"]:checked + label,
    .Checked + label {
        background: yellow;
    }

    .category-box label {
        padding: 8px;
        /*border: 1px solid #CCC;*/
        border: 1px solid aquamarine;
        cursor: pointer;
        z-index: 90;
    }

    .category-box label:hover {
        background: #DDD;
    }

    .category-box div {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }


</style>

<body>

<br><br>

<h1 style="text-align: center;">Quiz Trivia Challenge</h1>
<p style="text-align: center; font-size: 29px; margin-bottom: 5px; margin-top: 0px  ">A good way to have some fun!</p>
<p style="text-align: center; font-size: 29px; margin-bottom: 0px; margin-top: 0px  ">Pick a category from the list below and see if you have what it takes!!</p>

<br><br>

<form class="category-box">
    <div *ngFor="let item of categories; let i = index">
        <input id="{{i}}" name="categoryGroup" type="radio">
        <label for="{{i}}">{{ item }}</label>
    </div>
</form>


</body>